@import "helpers/reset";
@import "helpers/colors";

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
.container {
    max-width: 1200px;
    margin: 20px auto;
    font-family: "arial";
    background-color: $first-color;
    border-radius: 20px;
    padding:20px;
    
    .job-list-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        h2 {
            font-size: 30px;
            color: $second-color;
            filter: brightness(150%);
            padding-bottom: 5px;
        }
        
        select {
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding: 5px 5px;
            color: #142d4c;
        }

    }

    @import "sections/nav";
    
    @import "sections/jobs";
    
    @import "sections/list";
    
    @import "sections/add";

    @import "sections/footer";

}
