@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  font-family: "arial";
  background-color: #ececec;
  border-radius: 20px;
  padding: 20px;
}
.container .job-list-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.container .job-list-title h2 {
  font-size: 30px;
  color: #9fd3c7;
  filter: brightness(150%);
  padding-bottom: 5px;
}
.container .job-list-title .list-filters {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.container .job-list-title .list-filters .search {
  color: #ffffff;
}
.container .job-list-title .list-filters .search input {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 8px 5px;
}
.container .job-list-title .list-filters .search input:focus {
  outline: none;
}
.container .job-list-title .list-filters select {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 5px 5px;
  color: #142d4c;
}
.container nav {
  display: flex;
  border-radius: 20px;
  padding: 20px;
  background-color: #9fd3c7;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container nav .site-title h1 {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  font-size: 40px;
}
.container nav .site-title h1 a {
  text-decoration: none;
  color: white;
}
.container nav .site-title p {
  font-size: 20px;
  color: #9fd3c7;
  filter: brightness(150%);
}
.container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: #9fd3c7;
}
.container nav ul a {
  text-decoration: none;
  color: #9fd3c7;
}
.container .jobs {
  margin: 20px 0;
  border-radius: 20px;
  padding: 20px;
  background-color: #9fd3c7;
  color: white;
}
.container .jobs .job-row {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  color: #142d4c;
  margin-bottom: 20px;
}
.container .jobs .job-row > ul {
  flex: 1;
}
.container .jobs .job-row > ul li {
  margin-bottom: 5px;
}
.container .jobs .job-row > ul li.date {
  font-size: 16px;
  font-weight: 400;
}
.container .jobs .job-row > ul li.company-name {
  font-size: 20px;
  font-weight: 700;
}
.container .jobs .job-row > ul li.company-name span {
  font-size: 16px;
  font-weight: 400;
}
.container .jobs .job-row > ul li.job-title {
  font-size: 16px;
  font-weight: 400;
}
.container .jobs .job-row > ul li.job-description {
  font-size: 16px;
  font-weight: 400;
}
.container .jobs .job-row > ul li.job-description a {
  color: black;
  text-decoration: none;
}
.container .jobs .job-row > ul li.job-notes {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.container .jobs .job-row > ul li.job-requirements ul {
  display: inline-flex;
  border-radius: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: white;
  background-color: #9fd3c7;
  padding: 2px 10px;
}
.container .jobs .job-row > ul li.job-requirements ul li {
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: normal;
  margin-bottom: 2px;
}
.container .jobs .job-row > ul li.job-status {
  margin-bottom: 0;
}
.container .jobs .job-row > ul li.job-status ul {
  display: inline-flex;
  border-radius: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: white;
  background-color: #9fd3c7;
  padding: 2px 10px;
}
.container .jobs .job-row > ul li.job-status ul li {
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: normal;
  margin-bottom: 2px;
}
.container .jobs .job-row .edit {
  width: 100px;
}
.container .jobs .job-row .edit a {
  color: #142d4c;
  text-decoration: none;
}
.container .jobs-list {
  margin: 20px 0;
  border-radius: 20px;
  padding: 20px;
  background-color: #9fd3c7;
  color: white;
}
.container .jobs-list .job-list-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.container .jobs-list .job-list-title h2 {
  font-size: 30px;
  color: #9fd3c7;
  filter: brightness(150%);
  padding-bottom: 5px;
}
.container .jobs-list .job-list-title select {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 5px 5px;
  color: #142d4c;
}
.container .jobs-list .jobs-content {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.container .jobs-list .jobs-content .job-table {
  width: 100%;
}
.container .jobs-list .jobs-content .job-table tr th {
  text-align: left;
  font-weight: 700;
  color: #142d4c;
  padding-bottom: 10px;
}
.container .jobs-list .jobs-content .job-table tr th a {
  color: #142d4c;
  text-decoration: none;
}
.container .jobs-list .jobs-content .job-table tr td {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #142d4c;
}
.container .jobs-list .jobs-content .job-table tr td a {
  color: #142d4c;
  text-decoration: none;
}
.container .jobs-list .jobs-content .job-table tr td a:hover {
  text-decoration: underline;
}
.container .jobs-list .jobs-content .job-table tr td.checks .archive-item {
  visibility: hidden;
}
.container .jobs-list .jobs-content .job-table tr td.checks .archive-item.vis {
  visibility: visible;
}
.container .jobs-list .jobs-content .job-table tr td.archive {
  display: none;
}
.container .jobs-list .jobs-content .job-table tr td.archive.vis {
  display: table-cell;
}
.container .jobs-list .jobs-content .job-table tr td.archive input[type=submit] {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 8px 5px;
}
.container .jobs-list .jobs-content .job-table tr td.edit {
  white-space: nowrap;
  padding-left: 20px;
}
.container .add {
  border-radius: 20px;
  padding: 20px;
  background-color: #9fd3c7;
}
.container .add form .submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
  padding-top: 20px;
}
.container .add form .submit input[type=submit] {
  border-radius: 5px;
  border: 0 solid #cccccc;
  padding: 10px 10px;
  background-color: #385170;
  color: white;
  font-size: 20px;
}
.container .add form .content {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.container .add form .content > ul {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.container .add form .content > ul > li {
  display: flex;
  padding-bottom: 5px;
  gap: 5px;
  align-items: center;
}
.container .add form .content > ul > li.job-requirements {
  align-items: flex-start;
  padding-bottom: 10px;
}
.container .add form .content > ul > li > label {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #142d4c;
  width: 120px;
}
.container .add form .content > ul > li > input {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 5px 5px;
}
.container .add form .content > ul > li ul.checks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.container .add form .content > ul > li ul.checks li {
  white-space: nowrap;
}
.container .add form .content > ul > li ul.checks li input[type=checkbox] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.container .add form .content > ul > li ul.checks li input[type=checkbox]:checked {
  background-color: gray;
}
.container .add form .content > ul > li ul.radios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.container .add form .content > ul > li ul.radios li {
  white-space: nowrap;
}
.container .add form .content > ul > li ul.radios li input[type=radio] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.container .add form .content > ul > li ul.radios li input[type=radio]:checked {
  background-color: gray;
}
.container .add form .content .notes {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  flex: 1;
}
.container .add form .content .notes .notes-area {
  padding-bottom: 10px;
}
.container .add form .content .notes .notes-area textarea {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}
.container .add form .content .notes .notes-area textarea::-moz-placeholder {
  color: #9fd3c7;
}
.container .add form .content .notes .notes-area textarea::placeholder {
  color: #9fd3c7;
}
.container .add form .content .notes .recruiter-area {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  align-items: center;
}
.container .add form .content .notes .recruiter-area label {
  text-align: right;
}
.container .add form .content .notes .recruiter-area input {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 5px 5px;
}
.container footer {
  display: flex;
  border-radius: 20px;
  padding: 20px;
  background-color: #9fd3c7;
  align-items: center;
  color: white;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */