@import "../helpers/colors";

footer {
    display: flex;
    border-radius: 20px;
    padding:20px;
    background-color: $second-color;
    align-items: center;
    color: white;
    margin-top: 20px;
}
