@import "../helpers/colors";

.job-list-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    h2 {
        font-size: 30px;
        color: $second-color;
        filter: brightness(150%);
        padding-bottom: 5px;
    }
    .list-filters {
        display: flex;
        column-gap: 10px;;
        .search {
            color: #ffffff;
            input {
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 8px 5px;
                    &:focus {
                    outline: none;
                }
            }
        }
        
        select {
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding: 5px 5px;
            color: #142d4c; 
        }
    }
}
